@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tektur', sans-serif;
    height: 100%;
    background: #000000;
    filter: saturate(200%);
}

#background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    color: white;
}

p {
    cursor: default;
}

h1.header {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.lol {
    margin-left: 10px;
}

h2 {
    color: #db0000;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: default;
}

canvas {
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}

.mb {
    margin-bottom: 3rem;
}

.logo {
    font-family: 'Tektur', sans-serif;
    color: #fff;
    font-size: 10rem;
    transition: 0.7s;
    font-weight: bold;
}

.logo:hover {
    color: #db0000;
}

.links-list ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.links-list h1 {
    color: #fff;
    font-size: 2.5rem;
}

.links-list ul li span {
    background-color: #ff0000;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    color: #db0000;
}

.footer {
    padding: 6rem 0 2rem;
}

.footer>a {
    display: flex;
    align-items: center;
    width: 100%;
    color: #db0000;
}

.footer>a>span {
    margin: 0 2px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.info {
    color: white;
    background-color: transparent;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Asegura que todas las tarjetas tengan el mismo ancho */
    height: 300px; /* Asegura que todas las tarjetas tengan la misma altura */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.info h2 {
    margin-bottom: 10px; /* Ajusta el margen inferior para reducir la separación */
}

.info p {
    margin-top: 0; /* Elimina cualquier margen superior en los párrafos */
}

@media screen and (max-width: 768px) {
    .info {
        width: 100%;
        margin: 10px 0;
    }
}

.info:hover {
    transform: scale(1.05);
}


.header-p {
    text-align: center;
    font-family: 'Tektur', sans-serif;
    font-size: 2.7rem;
    padding: 1rem;
    color: #db0000;
    border: 2px solid white;
    border-radius: 25px;
    width: 100%;
}

.contact-button {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #db0000;
    color: #ffffff;
}

.info:hover {
    transform: scale(1.05);
}

.typing-animation {
    display: inline-block;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(40, end) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    margin-left: 35px;
}

.icons i {
    font-size: 4rem;
    color: white;
    margin: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.icons i:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 768px) {
    .icons {
        grid-template-columns: repeat(3);
        margin-right: 35px;
    }

    .icons i {
        width: 100%;
        box-sizing: border-box;
    }

    .Go-up {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        bottom: 20px;
        left: 0;
        transform: none;
    }

    .footer>a {
        justify-content: center;
    }
}

h1 {
    cursor: default;
    margin-top: 20px;
    margin-left: 10px;
}

.h2-title {
    cursor: default;
}

.h2-title:hover {
    color: rgb(255, 255, 255);
}

.Go-up {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.Go-up>span {
    color: white;
    font-size: 2.5em;
    transition: all linear 100ms;
    cursor: pointer;
}

.Go-up>span:hover {
    transform: scale(1.2);
    color: #ffffff;
}

.image-section {
    text-align: center;
    flex: 1; /* Hace que la sección de la imagen ocupe el espacio disponible */
}

.image-section img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 200px; /* Limita la altura máxima de las imágenes */
    object-fit: cover; /* Hace que las imágenes se ajusten al contenedor sin distorsionarse */
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .image-section img {
        width: 100%;
        max-width: none;
    }
}

.links {
    color: white;
    text-decoration: underline #db0000;
}

.devicon-github-original {
    padding: 10px;
}

.certificate-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-around;
    margin-left: 20px;
}

.certificate-item {
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certificate-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}

.pfp {
    width: 200px;
    height: 200px;
}
